:root {
  --main-color: #139744;
  --main-color-trans: rgba(19, 151, 68, 0.85);
  --gray: #C6C6C4;
}

body {
  background-color: #f6f6f6;
  margin:0;
  padding:0;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a, a:hover {
  color: var(--main-color);
}

.main {
  flex: 1 0 auto;
}


.btn-fs-search,
.btn-fs-search:hover {
  color: #fff;
  background-color: var(--main-color);
}

.header {
  background: url('../images/header.jpg');
  background-size: cover;
}

.tagline {
  color: #fff;
  font-size: 24px;
  text-shadow: 1px 1px 1px #000;
  padding: 10px;
}

.search-form {
  padding-top:  10rem;
  padding-bottom: 2rem;
}

.search-form .search-examples {
  color: #fff;
  margin-left: 20px;
  text-shadow: 1px 1px 1px #000;
}

.search-form .search-examples > a {
  color: #fff;
  text-decoration: underline;
}

.the-cow {
  display: none;
}

.navbar-fs .navbar-brand {
  background: url('../images/cow.svg') left center no-repeat;
  padding-left: 65px;
}


@media (min-width: 768px) {

  .navbar-fs .navbar-brand {
    padding-left: 15px;
    background: none;
  }
  .the-cow {
    display: block;
    width: 220px;
    height: 220px;
    position: relative;
    bottom: -95px;
    background-color: var(--main-color-trans);
    border-radius: 150px;
    clip-path: inset(0 0 61px 0);
  }

  .the-cow img {
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 100;
  }

}

.navbar-fs {
  background-color: var(--main-color-trans);
  border: 0;
  margin: 0 -15px;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 10px;
}

.navbar-fs .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.navbar-fs .navbar-nav>li>a {
  color: #fff;
}

.navbar-fs .navbar-nav .nav-link {
  color: #fff;
}

.navbar-fs .navbar-nav .nav-link:hover,
.navbar-fs .navbar-nav .nav-link:focus,
.navbar-fs .navbar-nav .nav-item.active .nav-link {
  color: #fff;
  background-color: #333;
}

.navbar-fs .navbar-brand {
  color: #fff;
  font-size: 1.2rem;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.content-row {
  background-color: #fff;
}

.content {
  padding: 0 20px;
  background-color: #fff;
}

.sidebar {
  background-color: #eee;
}

.right {
  padding-top: 15px;
  background-color: #eee;
}

.sidebar-widget {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 2px
}

.sidebar-widget h3 {
  margin-top: 0;
}

.footer {
  padding: 30px 0;
  background-color: #161614;
  border-top: 8px var(--main-color) solid;
  color: var(--gray);
}

.footer a {
  color: var(--gray);
}

.money {
  text-align: right;
}
