{% load humanize %}
{% load recipient_utils %}

<ul class="list-unstyled">
{% for bucket in aggregation %}
  <li>
    {% if not bucket.selected %}
      <a href="{% get_facet_link querydict bucket.key bucket.value %}">
    {% endif %}
      {{ bucket.name }}
    {% if not bucket.selected %}
      </a>
    {% endif %}
    <small>
      {{ bucket.count | intcomma }} {{ bucket.count_label }}{% if bucket.amount %},
        {{ bucket.amount | intcomma_word }}&nbsp;€
      {% endif %}
    </small>
    {% if bucket.selected %}
      <a href="{% get_facet_link querydict bucket.key %}">
        <span class="badge badge-pill badge-secondary">&times;</span>
      </a>
    {% endif %}
  </li>
{% endfor %}
