[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
"psycopg2" = "*"
elasticsearch-dsl = "*"
python-slugify = "*"
raven = "*"


[dev-packages]

django-debug-toolbar = "*"


[requires]

python_version = "3.6"
