<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="google-site-verification" content="Ky0DwP0Po8pm91bBwCkbbNt1Qf6FLXut_7Kd1jvSGFc">
    <title>Explore European Common Agricultural Policy farm subsidy payments | FarmSubsidy.org</title>
    <link rel="stylesheet" type="text/css" href="/media/css/reset-min.css">
    <link rel="stylesheet" type="text/css" href="/media/css/main.css" media="all">
    <link rel="stylesheet" type="text/css" href="/media/css/print.css" media="print">
    <script type="text/javascript" src="/media/js/jquery.js"></script><style type="text/css"></style>
    <script type="text/javascript" src="/media/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/media/js/jquery.example.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery-ui-1.7.1.custom.min.js"></script>
    <script src="/media/js/scripts.js" type="text/javascript" charset="utf-8"></script>

    <link href="/news/feed/" type="application/atom+xml" rel="alternate" title="Farmsubsidy News Feed">

    

    

</head>

<body id="home" class="onecol ">





<div id="outer">

    
    <div id="header">
        <div id="photos" class="header_5">

        </div>
        <h1>
            <a href="/"><span>farmsubsidy.org</span></a>
        </h1>
        <h2>Discover who gets what from the Common Agricultural Policy</h2>

        
        <form id="search_form" action="/search/" method="get" accept-charset="utf-8" class="transparent">
            <h2><label for="search" class="section_title">Search</label></h2>
            <input type="text" name="q" value="" id="q" title="Enter a company name or place" class="example">
            <input type="submit" value="Search" class="submit">
            <small>e.g. <a href="/search/?q=nestle">Nestle</a> or <a href="/search/?q=windsor">Windsor</a></small>
        </form>

        
            <span id="totalizer" class="transparent">€154.9 billion in payments to 21933401 recipients</span>
        


        
        <ul id="mainmenu">
            
            <li class="last"><a href="/">Home</a></li>
            
            
            
            
            
        </ul>

      
      
    </div>
    
    

    <div id="content">
        <div class="heading">
            <p class="breadcrumbs">
                
            </p>
            <h2></h2>
        </div>
        

        

        



<div class="section">
    <h2>500 Server Error - Check back later</h2>
    
</div>










    </div>


    
      <div id="footer">

        <div id="about">
            <a href="http://eutransparency.org">
                <img src="/media/images/eutlogo.png" width="241" height="92">
            </a>
              <p>
                    Farmsubsidy.org is a project of EU Transparency, a non-profit organisation.
              </p>
        </div>

        <div id="links">
            <dl>
                
                <dt>Looking for more information?</dt>
                <dd>
                    <ul>
                        <li><a href="/news">News &amp; reports</a></li>
                        <li><a href="/legal">Legal / Privacy Policy</a></li>
                        <li><a href="/about">About us</a></li>
                    </ul>
                </dd>
                <dt>Get in touch:</dt>
                <dd>
                    <ul>
                        <li><a href="mailto:info[-at-]openspending[-dot-]org">Email us</a></li>
                        <li><a href="http://twitter.com/farmsubsidy">Follow farmsubsidy.org on Twitter</a></li>
                    </ul>
                </dd>
                <dt>Technical:</dt>
                <dd>
                    <ul>
                        <li><a href="http://github.com/openspending/Farm-Subsidy">Get the code</a></li>
                        <li><a href="/getthedata/download">Get the raw data</a></li>
                        
                    </ul>
                </dd>
           </dl>
        </div>

      </div>
    
</div>


</body></html>