{% load cache %}{% load static %}{% load humanize %}<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ title }}{% endblock %} | FarmSubsidy.org</title>

    <meta name="description" content="FarmSubsidy shows who gets subsidies under the European Common Agricultural Policy">
    <meta name="author" content="">

    {% block extrameta %}{% endblock %}

    <meta name="google-site-verification" content="hyG2KNMuw7MW6cT7ImXaOIJ44j9YW6PJPh0M-_4lv8U" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/farmsubsidy.css' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#139744">
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#139744">
    <meta name="msapplication-config" content="{% static 'images/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#139744">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="the-cow">
            <a href="/">
              <img src="{% static 'images/cow.svg' %}" alt="FarmSubsidy Euro Cow"/>
            </a>
          </div>
        </div>
        <div class="col-md-6 search-form">
          <form action="{% url 'search' %}" method="get" accept-charset="utf-8">
            <div class="input-group">
              <input type="text" name="q" value="{{ query }}" id="q" placeholder="Enter a company name or place" class="form-control input-lg">
              <span class="input-group-btn">
                <button class="btn btn-fs-search input-lg" type="submit">Search</button>
              </span>
            </div>
            <small class="search-examples">
              e.g. <a href="{% url 'search' %}?q=nestle">Nestle</a> or <a href="{% url 'search' %}?q=windsor">Windsor</a>
            </small>
          </form>
        </div>
      </div>
      <div class="navbar navbar-dark navbar-expand-sm navbar-fs" role="navigation">
        <a class="navbar-brand" href="/">
          <strong>FarmSubsidy</strong>.org
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="menu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% block nav_countries %}{% endblock %}">
              <a class="nav-link" href="{% url 'countries' %}">Countries</a>
            </li>
            <li class="nav-item {% if flatpage.url == '/faq/' %}active{% endif %}">
              <a class="nav-link" href="/faq/">FAQ</a>
            </li>
            <li>
              <a class="nav-link twitter" href="https://twitter.com/farmsubsidy/">
                <img src="{% static 'images/twitter_logo.png' %}" alt="Twitter Bird"/>
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <div class="row content-row">
        <div class="content col-lg-8 col-md-8 col-sm-7">
          <header class="page-heading">
            {% block page_title %}{% endblock %}
          </header>
          {% block error %}{% endblock %}

          {% block content %}{% endblock %}

        </div>

        <div class="sidebar col-lg-4 col-md-4 col-sm-5">
          <div class="right">
            {% block right %}
            {% endblock %}
            <div class="sidebar-widget">
              <div class="text-center">
                  <a href="https://okfn.de">
                    <img class="img-fluid" src="{% static 'images/okfde.svg' %}" alt="Open Knowledge Foundation Germany"/>
                  </a>
              </div>
              <p>
                  FarmSubsidy.org is a project of the <a href="https://okfn.de">Open Knowledge Foundation Germany</a>, a non-profit organisation working on transparency of public money.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="row">
        {% block footer %}
          <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-4">
            <h5>Looking for more information?</h5>
            <ul class="list-unstyled">
              <li><a href="/legal">Legal / Privacy Policy</a></li>
              <li><a href="/about">About us</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-4">
            <h5>Get in touch</h5>
            <ul class="list-unstyled">
              <li>
                <a href="mailto:farmsubsidy[-at-]okfn[-dot-]de">Email</a>
              </li>
              <li>
                <a href="https://twitter.com/farmsubsidy">Twitter</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-4">
            <h5>Technical</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/openspending/Farm-Subsidy">Get the code</a>
              </li>
              <li>
                <a href="http://data.farmsubsidy.org/index.html">Get the raw data</a> |
                <a href="https://docs.google.com/spreadsheet/ccc?key=0Ajagl3TOC7X_dFlzQ0ljaUxUWVNmNE40TGdweWNlcEE&hl=en#gid=7">Spreadsheet</a>
              </li>
            </ul>
          </div>
        {% endblock %}
      </div>
    </div>
  </footer>
{% block footer_scripts %}
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block analytics %}
  {% if not debug %}
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//traffic.okfn.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '44']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  {% endif %}
{% endblock analytics %}

</body>
</html>
