{% extends "base_country.html" %}

{% load humanize %}

{% block title %}
 Countries
{% endblock %}

{% block page_title %}
 Browse data by country
{% endblock %}

{% block content %}
    <p style="text-align: right;">
      Only countries with latest data
      <input type="checkbox" id="only_latest">
    </p>

  <script>
    $(document).ready(function() {

      $('#only_latest').click(function() {
        if($(this).is(':checked')) {
          $('.not_with_latest').hide();
        } else {
          $('.not_with_latest').show();
        }
      });

    });
  </script>

    <table class="table">
      <thead>
        <tr>
          <th>Country</th>
          <th>Data Source</th>
          <th>Oldest</th>
          <th>Newest</th>
          <th style="text-align: right;">Latest year ({{ latest_year }})</th>

        </tr>
      </thead>
      <tbody>
      {% for country in countries %}
        <tr class="{% if country.max_year < latest_year %}not_with_latest{% endif %}">
          <td><a href="{% url 'country' country.code %}">{{ country.name }}</a></td>
          <td>
            {% if country.original_source_url != "" %}
              <a href="{{ country.original_source_url }}" target="_blank">Link</a>
            {% endif %}
          </td>
          <td>{% if country.min_year > 0 %}{{ country.min_year }}{% else %}&nbsp;{% endif %}</td>
          <td>{% if country.max_year > 0 %}{{ country.max_year }}{% else %}&nbsp;{% endif %}</td>
          <td style="text-align: right;">
            {% if country.max_year >= latest_year %}
               <img src="/media/images/check.png" alt="data available">
            {% else %}
              &nbsp;
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}
