{% extends "base.html" %}

{% load humanize %}

{% block title %}
  {{ country.name }}
{% endblock %}

{% block page_title %}
  EU Farm subsidies for {{ country.name }}{% if selected_year %} in {{ selected_year }}{% else %}, All years{% endif %}
{% endblock %}

{% block content %}
<p>
    These pages list farm subsidy payments made in {{ country.name }} as published directly by the government of {{ country.name }} or sourced via freedom of information requests.
</p>

{% if years %}
    <div class="year_selector section">
    Show subsidies for
    {% if not selected_year %}
        <span class="selected">All Years</span>
    {% else %}
        <a href="{% url 'country' country=country.code %}" class="selected">All Years</a>
    {% endif %}

    {% for year in years %}
        {% if year.year == selected_year  %}
            <strong>{{ year.year }}</strong>
        {% else %}
            {% url 'country_year' country=country.code year=year.year as year_url %}
            <a href="{{ year_url }}">{{ year.year }}</a>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}

<div class="section">
  <h3>Top recipients</h3>
  <table class="table">
    <thead>
      <th>Recipient name</th>
      <th class="money">Amount</th>
    </thead>
    <tbody>
      {% for recipient in top_recipients %}
        <tr>
          <td><a href="{{ recipient.get_absolute_url }}">{{ recipient.name }}</a></td>
          <td class="money">&euro;{{ recipient.total|floatformat:0|intcomma }}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
  <p class="more_info">
    <a href="{% url 'browse' country=country.code %}">View all recipients &raquo;</a>
  </p>
</div>


<div class="section">
    <h3>Top schemes</h3>
    <table class="table">
    <thead>
      <th>Scheme name</th>
      <th class="money">Amount</th>
    </thead>
    {% for scheme in top_schemes %}
    <tr>
      <td><a href="{{ scheme.get_absolute_url }}">{{ scheme.nameenglish }}</a></td>
      <td class="money">&euro;{{ scheme.total|floatformat:0|intcomma }}</td>
    </tr>
    {% endfor %}
    </table>
    <p class="more_info">
      <a href="{% url 'all_schemes' country=country.code %}">View all schemes &raquo;</a>
    </p>
</div>

{% endblock %}
