{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block title %}
  {{ recipient.name }} | {{ country.name }}
{% endblock %}

{% block page_title %}
  {{ recipient.name }}
{% endblock %}

{% block extrameta %}
  {% if recipient_total < 1000 %}
    <meta name="robots" content="noindex"/>
  {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% for item in breadcrumbs %}
        {% for heading, content in item.items %}
            {% for url in content %}
                &nbsp;<a href="{{ url.url }}" class="{{ url.class }}">&laquo; {{ url.name|title }}</a>
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="section">
        <p>{{ recipient.name }} is a recipient of farm subsidies in {% if recipient.town %}{{ recipient.town|title }},{% endif %} {{ country.name }}.</p>
        <p>{% if years_max_min %}Since {{ years_max_min.0 }}{% endif %} {{ recipient.name }} has received <strong>&euro;{{ recipient_total|floatformat:0|intcomma }}</strong> in payments from the European Union {% if has_direct or has_indirect or has_rural%}comprising of {% if has_direct %}<strong>direct subsidies</strong> (income support){% if has_indirect and has_rural %}, {%else%}{% if has_indirect or has_rural %} and {% else %}.{% endif %}{% endif %}{% endif %}{% if has_indirect %}<strong>indirect or other subsidies</strong> (market support such as export refunds or costs associated with food storage){% if has_rural %} and {%else%}.{%endif%}{% endif %}{% if has_rural %}<strong>rural development payments</strong> (for land conservation, income support for farms in dry, mountainous or cold places, or business development grants).{% endif %}{% else %}. {% endif %}</p>
    </div>

  <div class="section">
    <h3>Details of payments</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Scheme</th>
                <th class="money">Total</th>
            </tr>
        </thead>
        {% for payment in payments %}
          <tr>
            <td>{{ payment.year }} </td>
            <td>
                <a href="{{ payment.scheme.get_absolute_url }}">{{ payment.scheme.nameenglish }}</a>
            </td>
            <td class="money">&euro;{{ payment.amounteuro|floatformat:0|intcomma }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td style="text-align:right;"><strong>Total:</strong></td>
          <td class="money">&euro;{{ recipient_total|floatformat:0|intcomma }}</td>
        </tr>
    </table>
  </div>

{% endblock %}

{% block right %}
{%if recipient.lat and recipient.lng %}
    <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q={{recipient.lat}},{{recipient.lng}}&z=15" target="_new">
        <img src="http://maps.google.com/maps/api/staticmap?center={{recipient.lat}},{{recipient.lng}}&zoom=15&size=245x200&sensor=false&maptype=satellite" title="Satellite image" alt="Satellite image" width="245" height="200"/>
    </a>
{% endif %}



    <h4>Address</h4>
    <p>
        {% if recipient.address1 %}{{ recipient.address1|title }}<br />{% endif %}
        {% if recipient.address2 %}{{ recipient.address2|title }}<br />{% endif %}
        {% if recipient.address3 %}{{ recipient.address3|title }}<br />{% endif %}
        {% if recipient.town %}{{ recipient.town|title }}<br />{% endif %}
        {% if recipient.address4 %}{{ recipient.address4|title }}<br />{% endif %}
        {% if recipient.zipcode %}{{ recipient.zipcode|slice:"3:" }}<br />{% endif %}
    </p>
    <div class="sidebar-widget">
      <h4>Research Tools</h4>

      Adress lookup on
      <a href="http://maps.google.com/?q=+{{ recipient.zipcode|urlencode }}+{{ recipient.town|urlencode }}" target="_blank">Google Maps</a> | 
      <a href="http://www.openstreetmap.org/search?query={{ recipient.zipcode|urlencode }}+{{ recipient.town|urlencode }}" target="_blank">OpenStreetMap</a><br />
      Google search for <a href="https://www.google.com/?#q={{ recipient.name|urlencode }}" target="_blank">company</a> | 
      <a href="https://www.google.com/?#q={{ recipient.name|urlencode }}+farm+subsidies" target="_blank">subsidies</a><br />
    </div>

    {% comment %}
    <p>
        {% if recipient.geo4 %}<a href="{{ recipient.geo4_url }}">View other recipients in {{ recipient.geo4|title }}</a><br />{% endif %}
        {% if recipient.geo3 %}<a href="{{ recipient.geo3_url }}">View other recipients in {{ recipient.geo3|title }}</a><br />{% endif %}
        {% if recipient.geo2 %}<a href="{{ recipient.geo2_url }}">View other recipients in {{ recipient.geo2|title }}</a><br />{% endif %}
        {% if recipient.geo1 %}<a href="{{ recipient.geo1_url }}">View other recipients in {{ recipient.geo1|title }}</a><br />{% endif %}
    </p>

    {% if closest %}
    <h4>Near By</h4>
    <ul>
        {% for r in closest %}
            <li><a href="{{ r.recipient.get_absolute_url }}">{{ r.recipient.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endcomment %}

    {% comment %}
    <div class="section">
        <a href="{% url 'csv_recipient' recipient.pk %}">Download this recipient as a CSV file, for Excel</a>
    </div>
    {% endcomment %}

{% endblock %}
