{% extends "base.html" %}
{% load humanize %}
{% load cache %}

{% block title %}
    {{ scheme.nameenglish }}
{% endblock %}

{% block page_title %}
    {{ scheme.nameenglish }}
{% endblock %}

{% block content %}

    {% if scheme_years %}  
        <div class="year_selector section">
        Show subsidies for
        {% if selected_year == 0 %}
            <span class="selected">All Years</span>
        {% else %}
            <a href="{% url 'scheme_view' country=country.code globalschemeid=scheme.pk name=scheme.nameenglish|slugify %}" class="selected">All Years</a>
        {% endif %}
    
        {% for year in scheme_years %}
            {% if year.year == selected_year  %}
                <strong>{{ year.year }}</strong>
            {% else %}
                {% url 'scheme_view' country=country.code globalschemeid=scheme.pk name=scheme.nameenglish|slugify year=year.year as year_url %}
                <a href="{{ year_url }}">{{ year.year }}</a>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    
    {% load pagination_tags %}
    {% autopaginate top_recipients 30 %}
    <h3>All Recipients</h3>
    <p>This page is currently disabled.</p>
    {% comment %}
    <table>
        <thead>
            <th>Name</th>
            <th class="money">Total (for this scheme, {% if selected_year == 0 %}all years{% else %}in {{ selected_year }}{% endif %})</th>
        </thead>
        <tbody>
            {% for recipient in top_recipients %}
                <tr>
                    <td><a href="{{ recipient.get_absolute_url }}">{{ recipient.recipient.name }}</a></td>
                    <td class="money">&euro;{{ recipient.total|floatformat:0|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4 class="pager">{% paginate %}</h4>
    {% endcomment %}

{% endblock %}

{% block right %}
{% include "breadcrumbs.html" %}
{% endblock %}