{% extends "recipients/base_country.html" %}

{% load humanize %}
{% load recipient_utils %}


{% block title %}
 Countries
{% endblock %}

{% block page_title %}
  <h2>Browse data by country</h2>
{% endblock %}

{% block content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Country</th>
          <th>Oldest</th>
          <th>Latest</th>
          <th class="text-right">Total amount</th>
        </tr>
      </thead>
      <tbody>
      {% for country in countries %}
        <tr>
          <td>
            <a href="{% url 'country' country.code %}">{{ country.name }}</a>
          </td>
          <td>
            {{ country.min_year }}
          </td>
          <td>
            {{ country.max_year }}
          </td>
          <td class="text-right">
            {{ country.amount_sum | intcomma_floatformat }}&nbsp;€<br/>
            (&approx; {{ country.amount_sum | intword }} Euro)
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
