{% extends "base.html" %}

{% load humanize %}
{% load recipient_utils %}

{% block title %}
  {{ country.name }}
{% endblock %}

{% block page_title %}
  <h2>
    EU Farm subsidies for {{ country.name }}
    <br/><small>{% if year %} in {{ year }}{% else %} for all available years{% endif %}</small>
  </h2>
{% endblock %}

{% block content %}
  <p>
      These pages list farm subsidy payments made in {{ country.name }} as published directly by the government of {{ country.name }} or sourced via freedom of information requests.
  </p>

  <div class="section">
    <h3>Top recipients</h3>

    {% include "recipients/includes/result_table.html" with object_list=top_recipients hide_country=True %}

    <p class="more_info">
      <a href="{% url 'search' %}?country={{ country.code }}{% if year %}&amp;year={{ year }}{% endif %}">View all recipients &raquo;</a>
    </p>
  </div>

  <h3>Available years for {{ country.name }}</h3>

  <div class="responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Recipients</th>
          <th class="text-right">Total amount</th>
        </tr>
      </thead>
      <tbody>
        {% for year in country.get_years %}
          <tr>
            <td>
              <a href="{% url 'country_year' country=country.code year=year %}">
                {{ year }}
              </a>
            </td>
            <td>{{ year.total_recipients | intcomma }}</td>
            <td class="money">
              {{ year.amount_sum | intcomma_floatformat }}&nbsp;€
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
